@import url("http://fonts.cdnfonts.com/css/euclid-circular-a?styles=100037,100034,100036,100039,100031");
@import "./sass-utils/reset.scss";
@import "./sass-utils/variable.scss";

html {
  font-size: 10px;
}

body {
  font-family: $ff-main;
  font-size: $fs-regular;
}

a {
  text-decoration: none;
}

.container {
  width: 95%;
  max-width: 1240px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.active-link {
  color: $clr-succes !important;
}

.d-flex {
  display: flex !important;
}

.rotate-90 {
  transform: rotate(90deg);
}

input[type="checkbox"] {
  accent-color: #479e6a;
  width: 20px;
  height: 20px;
}

select {
  background: url("../images/arrow_down.png") no-repeat 95% 50%;
  padding: 10px 16px;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.4rem;
  color: #4f4f4f;
  appearance: none;
  outline: none;
  background-size: 20px 20px;
  -webkit-padding-end: 35px;
}

.skeleton-wrapper {
  display: flex;
  gap: 20px;
  svg {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
      0 4px 6px -4px rgb(0 0 0 / 10%);
  }
}

@media (max-width: $mobile) {
  .container {
    width: 90%;
  }

  .skeleton-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 20px 0;

    &::-webkit-scrollbar {
      display: none;
    }

    svg {
      min-width: 250px;
    }
  }
}
