@import url("http://fonts.cdnfonts.com/css/euclid-circular-a?styles=100037,100034,100036,100039,100031");
@import "./sass-utils/reset.scss";
@import "./sass-utils/variable.scss";

html {
  font-size: 10px;
}

body {
  font-family: $ff-main;
  font-size: $fs-regular;
}

a {
  text-decoration: none;
}

.container {
  width: 95%;
  max-width: 1240px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.active-link {
  color: $clr-succes !important;
}

.d-flex {
  display: flex !important;
}

.rotate-90 {
  transform: rotate(90deg);
}
