@import "../../style/sass-utils/variable.scss";

.login-wrapper {
  padding: 100px 0;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      margin-top: 16px;
    }
  }
}
